- page_title _("Report abuse to administrator")
.row
  .col-lg-8
    %h1.page-title.gl-font-size-h-display
      = _("Report abuse to administrator")
    %p
      = _("Please use this form to report to the administrator users who create spam issues, comments or behave inappropriately.")
      = _("A member of the abuse team will review your report as soon as possible.")

= gitlab_ui_form_for @abuse_report, html: { class: 'js-quick-submit'} do |f|
  = form_errors(@abuse_report)

  = f.hidden_field :user_id
  = f.hidden_field :category

  .form-group.row
    .col-lg-8
      = f.label :reported_user

      - name = "#{@abuse_report.user.name} (@#{@abuse_report.user.username})"
      = text_field_tag :user_name, name, class: "form-control", readonly: true
  .form-group.row
    .col-lg-8
      = f.label :reported_from
      = f.text_field :reported_from_url, class: "form-control", readonly: true
  .form-group.row
    .col-lg-8
      = f.label :reason
      = f.text_area :message, class: "form-control", rows: 4, required: true
      .form-text.text-muted
        = _("Explain why you're reporting the user.")

  = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm) do
    = _('Send report')
  = render Pajamas::ButtonComponent.new(href: @abuse_report.reported_from_url, button_options: { class: 'gl-ml-3' }) do
    = _('Cancel')
