- alert_options = { class: 'gl-mb-5' }

- if runner.group_type?
  = render Pajamas::AlertComponent.new(alert_options: alert_options,
    title: s_('Runners|This runner is available to all projects and subgroups in a group.'),
    dismissible: false) do |c|
    = c.body do
      = s_('Runners|Use Group runners when you want all projects in a group to have access to a set of runners.')
      = link_to _('Learn more.'), help_page_path('ci/runners/runners_scope', anchor: 'group-runners'), target: '_blank', rel: 'noopener noreferrer'
- else
  = render Pajamas::AlertComponent.new(alert_options: alert_options,
    title: s_('Runners|This runner is associated with specific projects.'),
    dismissible: false) do |c|
    = c.body do
      = s_('Runners|You can set up a specific runner to be used by multiple projects but you cannot make this a shared or group runner.')
      = link_to _('Learn more.'), help_page_path('ci/runners/runners_scope', anchor: 'specific-runners'), target: '_blank', rel: 'noopener noreferrer'
